body { 
  background-repeat: no-repeat center center fixed;
  background-image: url(image-path('pulsd-new-york-2014.jpg'));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
